
<section class="content">
  <div class="container">
    <div class="content-box">

      <div class="content-film">
        @if (film) {
          <div class="content-film_img">
            <img [src]="film.image" [alt]="film.title">
          </div>
          <div class="content-film_info">
            <div class="content-film_info_content">
              <div class="content-film_info_title">
                <h1>{{film.title}}, </h1>
                <p>{{film.original}}</p>
              </div>
              <p class="content-film_info_description">
                {{film.category}}
              </p>
              <p class="content-film_info_rating">
                {{film.rating}}
              </p>
              <p class="content-film_info_text">
                {{film.description}}
              </p>
            </div>
            <div class="content-film_info_controls">
              <button>Смотреть</button>
            </div>
          </div>
        }
      </div>

      <app-sidebar></app-sidebar>
    </div>
  </div>
</section>
